main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
}

body
{
  font-family: 'Roboto', sans-serif;
}
table {
  border: 1px solid #b3b3b3;
  border-collapse: collapse;
  table-layout: fixed;
}

h1,h2{
  text-align: center;
  margin:0 auto;
}

input{
  width: 100%;
}
th {
  text-align: left;
}
td {
  border: 1px solid #b3b3b3;
  padding: 10px;
}
.petit {
  width: 5%;
  border: 1px solid #b3b3b3;
  padding: 10px;
}
.moyen {
  width: 18%;
  border: 1px solid #b3b3b3;
  padding: 10px;
}
.long {
  width: 40%;
  border: 1px solid #b3b3b3;
  padding: 10px;
}
#modifier {
  color: green;
   border-collapse: collapse;
}
#detruire {
  color: red;
   border-collapse: collapse;
}

#titres td{
  font-weight: bold;
}
